<!-- begin main -->
<main class='main'>

  <!-- begin tabs-->
  <div class='tabs'>

    <ul class="tabs__list js-tabs">
      <li class="tabs__item">
        <a data-href="zoro" class="tabs__link js-tab">Zoro</a>
      </li>
      <li class="tabs__item">
        <a  data-href="bulba" class="tabs__link js-tab">Taras Bulba</a>
      </li>
      <li class="tabs__item">
        <a  data-href="zatoichi" class="tabs__link js-tab">Zatoichi</a>
      </li>
      <li class="tabs__item">
        <a data-href="kichot" class="tabs__link js-tab">Don Kichot</a>
      </li>
    </ul>


  </div>
  <!-- end tabs-->



  <!-- begin content -->
  <div class='content'>


    <!-- begin heroes -->
    <div class='heroes'>

      <!-- begin heroes__item -->
      <div class='heroes__item'>

        <!-- begin block -->
        <div data-content="zoro" class='block block_zoro js-content'>


        </div>
        <!-- end block -->

        <!-- begin block -->
        <div  data-content="bulba" class='block block_bulba js-content'>


        </div>
        <!-- end block -->

        <!-- begin block -->
        <div  data-content="zatoichi" class='block block_zatoichi js-content'>


        </div>
        <!-- end block -->

        <!-- begin block -->
        <div data-content="kichot" class='block block_kichot js-content'>


        </div>
        <!-- end block -->

           <!-- begin block -->
        <div data-content="ph" class='block block_ph js-content'>


        </div>
        <!-- end block -->


      </div>
      <!-- end heroes__item -->



    </div>
    <!-- end heroes -->
  </div>
  <!-- end content -->

</main>
<!-- end main -->
